
a.active {
  background-color: rgba(0, 0, 0, 0.542) !important;
  transition: ease-in-out;
  font-weight: 700;
  color: black;
}
/* nav ul li a:hover {
    color: black;
    background: #0000 !important;
    text-underline-offset: 6px;
  } */
